.awards {
    @include container(1100px);
    text-align: center;
    margin-bottom: 12.25rem;
    &__img {
        margin-bottom: 2.2rem;
        img {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
        }
    }
    &__title {
        @include title-center;
        margin-bottom: .9rem;
    }
    &__suptext {
        letter-spacing: 1.44px;
        margin-bottom: 6.1rem;
    }
    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: start;
    }
    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        border: 2px solid $text-color;
        padding: 3.9rem 3.4rem;
        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }
        @include responsive(phone) {
            flex-direction: column;
            padding: 2rem 1.5rem;
        }
    }
    &__item-number {
        text-align: center;
        width: 4.8rem;
        height: 4.8rem;
        background-color: $brand-color;
        margin-right: 2.4rem;
        line-height: 4.8rem;
        @include responsive(phone) {
            margin-right: 0;
            margin-right: auto;
            background-color: $site-bgc;
            line-height: 0;
            text-align: start;
            margin-bottom: 1.6rem;
            width: 0;
            height: 0;
            font-weight: bold;
            color: $brand-color;
        }
    }
    &__item-left {
        margin-right: auto;
        @include responsive(phone) {
            width: 100%;
            text-align: center;
            margin-bottom: 1.6rem;
        }
    }
    &__item-title {
        @include responsive(tables) {
            font-size: 1.8rem;
        }
        @include frame;
    }
    &__item-suptitle {
        @include responsive(tables) {
            font-size: 1.5rem;
        }
    }
    &__item-right {
        display: flex;
        align-items: center;
        @include responsive(phone) {
            margin-left: auto;
        }
    }
    &__item-text{
        @include responsive(tables) {
            font-size: 1.2rem;
        }
        font-size: 1.6rem;
        line-height: 2;
        &:first-child {
            margin-right: 1.6rem;
        }
    }
}